* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .checkbox {
    align-self: center;
  
    &:checked {
      ~ * .letter {
        color: #ffffff;
      }
  
      ~ * .letter--filled {
        background-color: #222222;
      }
    }
  }
  
  .label {
    align-self: center;
    color: #222222;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    grid-column: 2 / 12;
  }
  
  .grid {
    display: grid;
    grid-gap: 24px 0;
    grid-template-columns: repeat(12, 24px);
    justify-content: center;
    margin: 24px auto;
    padding: 0 24px;
  }
  
  .subgrid {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 24px);
  }
  
  .newline {
    grid-column-start: 1;
  }
  
  .letter {
    color: #222222;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
  
  .letter--filled {
  
  }
  
  @for $i from 1 through 12 {
    .offset-#{$i} {
      grid-column-start: $i;
    }
  }